body {
  padding: 50px;
  font: 14px/1.5 'Yanone Kaffeesatz', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F7F7F7;
  background-color: #0088DF;
  font-weight: 300;
}

h1 {
  margin: 0 0 20px;
  font-size: 13em;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
